. !text !filter !merge !diff
app !text !filter !merge !diff
.* !text !filter !merge !diff
*.js !text !filter !merge !diff
app/** !text !filter !merge !diff
*.json !text !filter !merge !diff
*.lock !text !filter !merge !diff
*.toml !text !filter !merge !diff
*.c !text !filter !merge !diff
*.rs !text !filter !merge !diff
